.contact {
    position: absolute;
    top: 3958px;
    left: 0px;
    width: 100%;
    height: 910px;
}

.p-contact {
    position: absolute;
    top: 78px;
    left: 125px;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    color: #FF5454;
}

.p-when-you-need {
    position: absolute;
    top: 87px;
    left: 1127px;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
}

.when-you-need {
    position: absolute;
    top: 130px;
    left: 1127px;
    width: 150px;
    height: 0px;
    border-top: 3px solid #FF0000;
}

.contact-content {
    position: absolute;
    top: 244px;
    left: 276px;
    width: 984px;
    height: 483px;
    border: 0px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px #888888;
    display: none;
}

.form-contact {
    position: absolute;
    top: 94px;
    left: 443px;
    width: 465px;
    height: 318px;
}

.form-contact > p {
    font-weight: 200;
    font-size: 20px;
}

.submit-contact {
    position: absolute;
    top: 282px;
    left: 173px;
    width: 119px;
    height: 36px;
    background-color: #100C2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-contact:hover {
    cursor: pointer;
}

.submit-contact:hover .submit-left{
    width: 58px;
    transition: width 0.25s;
    transition-delay: 0s;
}

.submit-contact:hover .submit-right{
    width: 58px;
    transition: width 0.25s;
    transition-delay: 0s;
}

.form-contact > input {
    background-color: #100C2F;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    padding-bottom: 0px;
}

.form-contact > input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

.submit-left {
    width: 18px;
    transition: width 0.25s;
    transition-delay: 0.25s;
    height: 100%;
    border: 1px solid #FF5454;
    border-right: none;
}

.submit-right {
    width: 18px;
    transition: width 0.25s;
    transition-delay: 0.25s;
    height: 100%;
    border: 1px solid #FF5454;
    border-left: none;
}

.p-submit {
    position: absolute;
    left: 22px;
    color: #FF5454;
    font-size: 20px;
    font-weight: 200;
}

.how-to-contact {
    position: absolute;
    top: 415px;
    left: 587px;
    width: 362px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.how-to-contact:hover {
    cursor: pointer;
}

.how-to-contact:hover .how-left {
    width: 180px;
    transition: width 0.25s;
    transition-delay: 0s;
}

.how-to-contact:hover .how-right {
    width: 180px;
    transition: width 0.25s;
    transition-delay: 0s;
}

.p-how {
    position: absolute;
    left: 126px;
    top: 32px;
    font-size: 48px;
    font-weight: 200;
    color: #FF5454;
}

.how-left {
    height: 100%;
    width: 53px;
    transition: width 0.25s;
    transition-delay: 0.25s;
    border: 1px solid #FF5454;
    border-right: none;
}

.how-right {
    height: 100%;
    width: 53px;
    transition: width 0.25s;
    transition-delay: 0.25s;
    border: 1px solid #FF5454;
    border-left: none;
}

.p-x {
    position: absolute;
    top: 430px;
    left: 666px; 
    font-weight: 400;
    font-size: 25px;
}

.p-x:hover {
    cursor: pointer;
}