.portfolio {
    position: absolute;
    width: 100%;
    height: 1008px;
    left: 0px;
    top: 2950px;
}

.p-portfolio {
    position: absolute;
    top: 78px;
    left: 125px;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    color: #FF5454;
}

.p-my-recent-work {
    position: absolute;
    top: 87px;
    left: 1127px;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
}

.my-recent-work {
    position: absolute;
    top: 131px;
    left: 1127px;
    width: 150px;
    height: 0px;
    border-top: 3px solid #FF0000;
}

@keyframes pt-animation {
    from {
        top: 0px;
        opacity: 0;
    }
    to {
        top: 300px;
        opacity: 0.5;
    }
}

.product-title {
    position: absolute;
    top: 300px;
    left: 408px;
    width: 720px;
    height: 72px;
    border: 0px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px #888888;
    animation-duration: 1.5s;
    opacity: 0;
}

.product-title > div {
    height: 36px;
    border: 0px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #888888;
}

.product-title > div:hover {
    background-color: #FFA553;
    cursor: pointer;
}

.product-title > div:first-child {
    margin-left: 94px;
}

.product-title > div:last-child {
    margin-right: 94px;
}

.product-title > div > p {
    font-size: 24px;
    line-height: 29px;
    padding: 20px;
}

@keyframes sc-animation {
    from {
        width: 0px;
    }

    to {
        width: 1228px;
    }
}

.swiper-container {
    position: absolute;
    top: 502px;
    height: 200px;
    width: 1228px;
    opacity: 0;
    animation-duration: 1.5s;
}

.swiper-slide {
    background-color: #C4C4C4;
    box-shadow: 0px 0px 20px #888888;
}

@keyframes sb-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.swiper-button-prev {
    position: absolute !important;
    top: 600px !important;
    left: 60px !important;
    outline: none !important;
    border: none !important; 
    animation-duration: 1.5s;
    opacity: 0;
}

.swiper-button-next {
    position: absolute !important;
    top: 600px !important;
    right: 60px !important;
    outline: none !important;
    border: none !important; 
    animation-duration: 1.5s;
    opacity: 0;
}

.swiper-button-next:hover .swiper-button-prev:hover {
    outline: none !important;
    border: none !important; 
}

.swiper-pagination {
    position: absolute !important;
    top: 770px !important;
    left: 655px !important;
}

.swiper-pagination-bullet {
    background-color: white !important;
    padding: 5px !important;
    margin: 10px !important;
    outline: none !important;
}

.swiper-pagination-bullet-active {
    background-color: #FFA553 !important;
    outline: none !important;
}

